body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

.container {
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #000;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

.main {
    flex: 1;
    padding: 20px;
}

.song {
    background: #181818;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    
}

.song:hover {
    background: #282828;
}

.player {
    background-color: aliceblue;
    display: flex;
    
}

    .panel{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    
    
    margin: auto;
    
}

#disc{
    height: 220px;
    width: 220px;
    background-size: cover;
    background-image: url("./Images/Screenshot\ 2026-01-24\ at\ 4.12.06\ PM.png");
    
    
    margin-top:150% ;
}
#i0{
    background-image: url('./Images/Sickomode.jpeg');
    width: 50px;
    background-size: cover;
    height:50px;
    margin: auto
}
#i1{
    background-image: url('./Images/Fein.jpg');
    width: 50px;
    background-size: cover;
    height: 50px;
    
}
#i2{
    background-image: url('./Images/Blindinglights.jpg');
    width: 50px;
    background-size: cover;
    height: 50px;
}
#i3{
    background-image: url('./Images/Levitating.jpeg');
    width: 50px;
    background-size: cover;
    height: 50px;
}
#i4{
    background-image: url('./Images/Peaches.jpeg');
    width: 50px;
    background-size: cover;
    height: 50px;
}
#t0,#t1,#t2,#t3,#t4{
    margin-left: 20px;
    
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 0%;



}
p{
    display: inline-block;
}
img{
    border-radius: 20%;
}
.player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
